/* https://fontmeme.com/fonts/mario-kart-ds-font/ */

@font-face {
    font-family: mario-kart-ds;
    src: url(../fonts/mario-kart-ds-webfont.woff);
    font-weight: normal;
    font-style: normal;
}


/* https://fontmeme.com/fonts/mario-kart-f2-font/ */

@font-face {
    font-family: mario-kart-f2;
    src: url(../fonts/mario_kart_f2-webfont.woff);
    font-weight: normal;
    font-style: normal;
}


/* https://en.maisfontes.com/mario-kart-position-font-regular.font */

@font-face {
    font-family: mario-kart-position;
    src: url(../fonts/mario-kart-position-font-regular-webfont.woff);
    font-weight: normal;
    font-style: normal;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    /* https://icons8.com/icons/set/mario-kart */
    cursor: url('../images/mario-cursor.png') 25 15, auto;
}

body {
    margin: 0;
    background-color: var(--color-headings);
    background-image: url("../images/background-sky.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Geneva, Verdana, sans-serif;
    background-position: center bottom;
    height: 100vh;
    overflow: hidden;
}

*/ button:not([disabled]) {
    cursor: pointer;
}


/*********************/


/* CUSTOM PROPERTIES */


/*********************/

:root {
    --color-headings: goldenrod;
    --color-standard: white;
    --color-mario: #FF3D00;
    --color-blackshadow: #00000038;
    --color-black: black;
    --color-marioimages: rgba(0, 0, 0, 0.51);
    --color-stuurshadow: rgba(255, 255, 255, 0.185);
    --color-none: transparent;
}


/****************/


/* TEXT, H1, P */


/***************/

h1 {
    color: var(--color-headings);
    display: grid;
    place-items: center;
    font-family: mario-kart-ds;
    font-size: 3em;
    text-transform: lowercase;
    letter-spacing: .2em;
}

h2 {
    color: var(--color-standard);
    font-family: mario-kart-f2;
    display: grid;
    place-items: center;
    font-size: 1em;
}

h3 {
    color: var(--color-standard);
    background-color: var(--color-mario);
    font-family: mario-kart-position;
    font-size: 2em;
    text-decoration: underline;
    visibility: hidden;
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    padding: .5em;
    border-radius: 10%;
}

h3.activate {
    visibility: visible;
}

p {
    color: var(--color-standard);
    align-items: center;
}


/**********/


/* LIST */


/**********/

ol {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    position: fixed;
    bottom: 1em;
    left: 1em;
    right: 1em;
    margin: 0;
    padding: 0;
}

ol li button {
    font-family: mario-kart-ds;
}

ol li button:active {
    color: var(--color-mario);
}

ol li {
    list-style: none;
}

ol li img {
    width: 8vw;
    aspect-ratio: 1/1;
}

ol li button img:hover {
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    animation-name: hover-timeline;
    animation-duration: 1.2s;
    border-left: .4em solid var(--color-mario);
    box-shadow: 0 .8em 1.6em var(--color-blackshadow), 0 1em 1em var(--color-blackshadow);
}

@keyframes hover-timeline {
    0% {
        border-left: .3em solid var(--color-mario);
        transform: scale(1);
    }
    50% {
        border-left: .6em solid var(--color-mario);
        transform: scale(1.5);
    }
    100% {
        border-left: .3em solid var(--color-mario);
        transform: scale(1);
    }
}


/**************/


/* BUTTON */


/************/

button {
    /* left: 47vw; */
    position: relative;
    text-align: center;
    font-size: 1.2em;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-standard);
    text-shadow: 0 0 1em var(--color-black);
}

button:hover {
    transition-duration: 0.4s;
}

button:focus-visible {
    border: .5em solid var(--color-none);
    border-image: url("../images/checkerboard-pattern.jpeg") 9%;
    filter: drop-shadow(0 0 0.75rem var(--color-black));
}

button:active {
    background-color: var(--color-marioimages);
    border-radius: 20%;
    transform: scale(.9);
    text-decoration: underline;
}


/*********************************/


/* CLASSES FOR ROTATE JAVASCRIPT */


/*********************************/

.naarRechts1 {
    transition: 4s;
    transform: rotate(36deg);
    animation-fill-mode: forwards;
}

.naarRechts2 {
    transition: 4s;
    transform: rotate(72deg);
    animation-fill-mode: forwards;
}

.naarRechts3 {
    transition: 4s;
    transform: rotate(108deg);
    animation-fill-mode: forwards;
}

.naarRechts4 {
    transition: 4s;
    transform: rotate(144deg);
    animation-fill-mode: forwards;
}

.naarRechts5 {
    transition: 4s;
    transform: rotate(180deg);
    animation-fill-mode: forwards;
}

.naarRechts6 {
    transition: 4s;
    transform: rotate(216deg);
    animation-fill-mode: forwards;
}

.naarRechts7 {
    transition: 4s;
    transform: rotate(252deg);
    animation-fill-mode: forwards;
}

.naarRechts8 {
    transition: 4s;
    transform: rotate(288deg);
    animation-fill-mode: forwards;
}

.naarRechts9 {
    transition: 4s;
    transform: rotate(324deg);
    animation-fill-mode: forwards;
}

.naarRechts10 {
    transition: 4s;
    transform: rotate(360deg);
    animation-fill-mode: forwards;
}


/**********/


/* SECTION P & IMG */


/**********/

section:first-of-type {
    display: flex;
    place-content: center;
}

section:first-of-type img {
    width: 25em;
    height: 25em;
    filter: drop-shadow(.1em 0 .1em var(--color-stuurshadow));
    margin-top: 2em;
}

section:first-of-type img:hover {
    animation: stuur-toeter 1s ease 0s 1 normal forwards;
}

@keyframes stuur-toeter {
    0% {
        animation-timing-function: ease-out;
        transform: scale(1);
        transform-origin: center center;
    }
    10% {
        animation-timing-function: ease-in;
        transform: scale(0.91);
    }
    17% {
        animation-timing-function: ease-out;
        transform: scale(0.98);
    }
    33% {
        animation-timing-function: ease-in;
        transform: scale(0.87);
    }
    45% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }
}

section:nth-of-type(2) p {
    width: 25em;
    height: 22em;
    background-color: var(--color-black);
    visibility: hidden;
    text-align: center;
    font-family: mario-kart-position;
    font-size: 1.1em;
    border: 1em solid var(--color-none);
    /* https://shop.beertjecreatief.nl/nl/detail/464376/f-f-background-black-white-blocks.htm */
    border-image: url("../images/checkerboard-pattern.jpeg") 9%;
    padding: .5em;
}

section:nth-of-type(2) {
    display: flex;
    justify-content: flex-end;
    right: 3em;
    position: relative;
    top: -23em;
    visibility: hidden;
}

section:nth-of-type(3) img {
    position: relative;
    width: 25em;
    height: 22em;
    visibility: hidden;
}

section:nth-of-type(3) img.activate {
    visibility: visible;
}

section:nth-of-type(2) p.activate {
    visibility: visible;
}

section:nth-of-type(3) {
    left: 3em;
    position: relative;
    top: -45em;
    visibility: hidden;
}

section:nth-of-type(3) img.marioEen {
    content: url("../images/mario1992.png");
    filter: drop-shadow(0 0 1em var(--color-marioimages));
}

section:nth-of-type(3) img.marioTwee {
    content: url("../images/mk-mario64.png");
}

section:nth-of-type(3) img.marioDrie {
    content: url("../images/mk-supercircuit.png");
}

section:nth-of-type(3) img.marioVier {
    content: url("../images/mk-doubledash.png");
}

section:nth-of-type(3) img.marioVijf {
    content: url("../images/mk-ds.png");
}

section:nth-of-type(3) img.marioZes {
    content: url("../images/mk-wii.png");
}

section:nth-of-type(3) img.marioZeven {
    content: url("../images/mk-mariokart7.png");
}

section:nth-of-type(3) img.marioAcht {
    content: url("../images/mk-mariokart8.png");
}


/* https://media.pocketgamer.com/artwork/na-ttzc/mk8d.jpg */

section:nth-of-type(3) img.marioNegen {
    content: url("../images/mk-mario8deluxe.png");
}

section:nth-of-type(3) img.marioTien {
    content: url("../images/mk-mariotour.png");
}


/**************/


/* DARK MODE */


/*************/

@media (prefers-color-scheme: dark) {
     :root {
        --color-headings: white;
        --color-standard: white;
        --color-mario: green;
        --color-blackshadow: #00000038;
        --color-black: black;
        --color-marioimages: rgba(0, 0, 0, 0.51);
        --color-stuurshadow: rgba(255, 255, 255, 0.185);
        --color-none: transparent;
    }
    body {
        margin: 0;
        background-image: url("../images/background-rainbowroad.png");
        background-size: 100%;
        background-repeat: no-repeat;
        font-family: Geneva, Verdana, sans-serif;
    }
}

@media (max-width:89em) {
    section:nth-of-type(3) img {
        position: relative;
        max-width: 18em;
        max-height: 15em;
        visibility: hidden;
        display: flex;
        flex-wrap: wrap;
    }
    section:nth-of-type(3) img.activate {
        visibility: visible;
    }
    section:nth-of-type(2) p.activate {
        visibility: visible;
    }
    section:nth-of-type(2) p {
        position: relative;
        max-width: 18em;
        min-height: 18em;
        background-color: var(--color-black);
        visibility: hidden;
        text-align: center;
        font-family: mario-kart-position;
        font-size: 1em;
        border: 1em solid var(--color-none);
        /* https://shop.beertjecreatief.nl/nl/detail/464376/f-f-background-black-white-blocks.htm */
        border-image: url("../images/checkerboard-pattern.jpeg") 9%;
        display: flex;
        padding: .5em;
    }
    section:first-of-type {
        display: grid;
        place-content: center;
        position: relative;
    }
    section:first-of-type img {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }
}