@font-face {
    font-family: mario-kart-ds;
    src: url(/assets/Mario-Kart-DS.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: mario-kart-f2;
    src: url(/assets/mario_kart_f2.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: mario-icons;
    src: url(/assets/MARIO.TTF);
    font-weight: normal;
    font-style: normal;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    cursor: url('../images/mario-cursor.png'), auto;
}

body {
    margin: 0;
    /* background-image: url("/images/background1space.jpeg"); */
    background-color: rgb(120, 219, 255);
    background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
    animation: stars 30s linear infinite;
}


/* ANIMATIE BEWEGING STERREN */

@keyframes stars {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50em 50em;
    }
}

button:not([disabled]) {
    cursor: pointer;
}


/*********************/


/* CUSTOM PROPERTIES */


/*********************/

:root {
    --color-headings: goldenrod;
    --color-standard: white;
}


/********************/


/* ALGEMENE STYLING */


/* TEXT, H1, P */


/********************/

h1 {
    color: var(--color-headings);
    display: grid;
    place-items: center;
    font-family: mario-kart-ds;
    font-size: 3em;
}

h2 {
    color: var(--color-standard);
    font-family: mario-kart-f2;
    display: grid;
    place-items: center;
}

h3 {
    font-family: mario-icons;
    color: var(--color-standard);
    font-size: 5em;
}

h4 {
    color: var(--color-standard);
    font-family: mario-kart-f2;
    display: none;
}

h4 img:hover {
    display: block;
}

p {
    color: white;
}


/* IMAGES */


/**********/


/* img:first-of-type {
    width: 7em;
    height: 7em;
    z-index: 1;
    animation: drive 7s infinite normal;
    border: hotpink solid 1em;
}

@keyframes drive {
    0% {
        transform: translateX(-12.5em);
        border: #1e3ecb solid 1em;
    }
    50% {
        border: greenyellow solid 1em;
    }
    100% {
        transform: translateX(110em);
        border: firebrick solid 1em;
    }
} */


/* @keyframes jump {
    0% {
        top: 50em;
    }
    50% {
        top: 40em;
    }
    65% {
        top: 50em;
    }
    100% {
        top: 50em;
    }
}

img:first-of-type:hover {
    border: blue solid 1em;
} */


/*  */


/* img:nth-of-type(2) {
    border: hotpink solid 1em;
    bottom: 4em;
    width: 7em;
    height: 7em;
    position: absolute;
    z-index: 1;
    animation: drive 5s infinite normal, jump 6s infinite normal;
}

section:first-of-type {
    position: absolute;
    height: 21em;
    width: 200%;
    background: linear-gradient( 90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 154, 0, 1) 10%, rgba(208, 222, 33, 1) 20%, rgba(79, 220, 74, 1) 30%, rgba(63, 218, 216, 1) 40%, rgba(47, 201, 226, 1) 50%, rgba(28, 127, 238, 1) 60%, rgba(95, 21, 242, 1) 70%, rgba(186, 12, 248, 1) 80%, rgba(251, 7, 217, 1) 90%, rgba(255, 0, 0, 1) 100%);
    border-top: .8em solid grey;
    border-bottom: .8em solid grey;
    bottom: 0;
    box-shadow: 0px 0px 38px 0px #000 inset;
}

section:nth-of-type(2) {
    border: .5em dashed #fff;
    width: 200%;
    position: absolute;
    height: 0;
    position: relative;
    top: 11em;
} */


/* Test images  */


/* section:nth-of-type(3) {
    animation: changeBg 1s infinite;
    width: 143px;
    height: 100px;
}

@keyframes changeBg {
    0%,
    100% {
        background-image: url("https://i.stack.imgur.com/YdrqG.png");
    }
    25% {
        background-image: url("https://i.stack.imgur.com/2wKWi.png");
    }
    50% {
        background-image: url("https://i.stack.imgur.com/HobHO.png");
    }
    75% {
        background-image: url("https://i.stack.imgur.com/3hiHO.png");
    }
} */


/* Container */

#wheel {
    position: relative;
    margin: 10px auto;
    width: 300px;
    height: 300px;
}


/* Shine on the steering wheel */

#wheel::before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 4px solid #5F5F5F;
    height: 93%;
    left: 3.5%;
    opacity: 0.4;
    top: 3.5%;
    width: 93%;
    content: '';
    position: absolute;
    border-radius: 50%;
    background: transparent;
    z-index: 3;
}


/* Round Part of the wheel */

#wheel_b {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: -webkit-gradient(linear, center top, center bottom, from(#1C1C1C), color-stop(0.02, #1C1C1C), color-stop(0.09, #000000), color-stop(0.93, #000000), to(#596378));
    background: -webkit-linear-gradient(center top, #1C1C1C, #1C1C1C 2%, #000000 9%, #000000 93%, #5C5C5C);
    background: -moz-linear-gradient(center top, #1C1C1C, #1C1C1C 2%, #000000 9%, #000000 93%, #5C5C5C);
    background: -ms-linear-gradient(center top, #1C1C1C, #1C1C1C 2%, #000000 9%, #000000 93%, #5C5C5C);
    border-right: 2px solid rgba(89, 99, 120, 0.4);
    border-top: 2px solid rgba(89, 99, 120, 0.4);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
}


/* Steering wheel interior */

#wheel_c {
    height: 80%;
    left: 10%;
    position: absolute;
    top: 10%;
    width: 80%;
    border-radius: 50%;
    overflow: hidden;
    z-index: 2;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
}


/* Top Left Part */

#wheel_c::before {
    content: '';
    height: 8.3%;
    left: 0px;
    position: absolute;
    top: 30%;
    width: 47.917%;
    border-radius: 19%;
    background: -webkit-gradient(linear, center top, center bottom, from(#000000), color-stop(0.3, #000000), color-stop(0.5, #373737), color-stop(0.7, #000000), to(#000000));
    background: -webkit-linear-gradient(top center, #000000, #000000 30%, #373737 50%, #000000 70%, #000000);
    background: -moz-linear-gradient(top center, #000000, #000000 30%, #373737 50%, #000000 70%, #000000);
    background: -ms-linear-gradient(top center, #000000, #000000 30%, #373737 50%, #000000 70%, #000000);
    transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -moz-transform-origin: 20% 120%;
    -ms-transform-origin: 20% 120%;
    -webkit-transform-origin: 20% 120%;
    -o-transform-origin: 20% 120%;
}


/* Top Right Part */

#wheel_c::after {
    content: '';
    height: 8.3%;
    right: 0px;
    position: absolute;
    top: 30%;
    width: 47.917%;
    border-radius: 19%;
    background: -webkit-gradient(linear, center top, center bottom, from(#000000), color-stop(0.3, #000000), color-stop(0.5, #373737), color-stop(0.7, #000000), to(#000000));
    background: -webkit-linear-gradient(top center, #000000, #000000 30%, #373737 50%, #000000 70%, #000000);
    background: -moz-linear-gradient(top center, #000000, #000000 30%, #373737 50%, #000000 70%, #000000);
    background: -ms-linear-gradient(top center, #000000, #000000 30%, #373737 50%, #000000 70%, #000000);
    transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -moz-transform-origin: 80% 120%;
    -ms-transform-origin: 80% 120%;
    -webkit-transform-origin: 80% 120%;
    -o-transform-origin: 80% 120%;
}


/* Bottom Center Part */

#wheel_d {
    height: 49.17%;
    bottom: -10px;
    position: absolute;
    left: 44%;
    width: 9.17%;
    border-radius: 19%;
    background: -webkit-gradient(linear, left center, right center, from(#000000), color-stop(0.3, #000000), color-stop(0.5, #373737), color-stop(0.7, #000000), to(#000000));
    background: -webkit-linear-gradient(left center, #000000, #000000 30%, #373737 50%, #000000 70%, #000000);
    background: -moz-linear-gradient(left center, #000000, #000000 30%, #373737 50%, #000000 70%, #000000);
    background: -ms-linear-gradient(left center, #000000, #000000 30%, #373737 50%, #000000 70%, #000000);
}


/* Center Center Part */

#beep {
    border-radius: 100px 100px 180px 180px / 20px 20px 250px 250px;
    height: 29.17%;
    left: 30%;
    position: absolute;
    top: 38%;
    width: 37.5%;
    z-index: 1;
    background: -webkit-gradient(linear, center top, center bottom, from(#000000), to(#323232));
    background: -moz-linear-gradient(center top, #000000, #323232);
    background: -webkit-linear-gradient(center top, #000000, #323232);
    background: -ms-linear-gradient(center top, #000000, #323232);
    background: -o-linear-gradient(center top, #000000, #323232);
}

#beep::after {
    background: #373737;
    border-radius: 100px 100px 180px 180px / 20px 20px 250px 250px;
    content: "";
    height: 35.71%;
    left: 8%;
    position: absolute;
    top: 8%;
    width: 85.71%;
}